<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pay.css">
    <title>BetSolutionPay</title>
</head>
<body>
    <div class="pay">
        <h3>Betsolution</h3>
        <h4>Weekend Games</h4>
        <form method="POST" action="/weekendpay">
            <input type="text" name="email" placeholder="Email">
            <i style="text-align: left; color: red;">Enter a valid email</i>
            <input type="text" name="amount" placeholder="Amount(GHS)" value="40" readonly>
            <input type="text" name="phone_number" placeholder="phone number">
            <button type="submit">Pay</button>
        </form>
    </div>
</body>
</html>