<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betsolution</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
	<div class="App">
        <div class="main_menu">
            <div class="side-bar">
                <div class="header">
                    <h1>BetSolution</h1>
                </div>  
                <div class="options">
                    <a href="/fiveodds"><div class="option odd1" >
                        <i class="bi bi-1-square"></i>
                        <h4>five odds</h4>
                    </div></a>
                    <a href="/straightdraw"><div class="option odd2">
                        <i class="bi bi-2-square"></i>
                        <h4>straight draw</h4>
                    </div></a>
                    <a href="/fixedgame"><div class="option odd3">
                        <i class="bi bi-3-square"></i>
                        <h4>fixed game</h4>
                    </div></a>
                    <a href="/basketball"><div class="option odd3">
                        <i class="bi bi-3-square"></i>
                        <h4>basketball</h4>
                    </div></a>
                    <a href="/weekend"><div class="option odd3">
                        <i class="bi bi-3-square"></i>
                        <h4>weekend games</h4>
                    </div></a>
                </div>   
            </div>
          <div class="main_page">
            <div class="first">
                <div class="title">
                    <h1>BetSolution</h1>
                </div>
                <div class="logouts">
                    <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <form class="signout" method="POST" action="/logout">
                        <button class="home_btn" type="submit" class="logout">logout</button>
                    </form>
                </div>  
                <div class="drop_down">
                    <ul>
                        <div class="options">
                            <a href="/fiveodds"><div class="option odd1" >
                                <i class="bi bi-1-square"></i>
                                <h4>five odds</h4>
                            </div></a>
                            <a href="/straightdraw"><div class="option odd2">
                                <i class="bi bi-2-square"></i>
                                <h4>straight draw</h4>
                            </div></a>
                            <a href="/fixedgame"><div class="option odd3">
                                <i class="bi bi-3-square"></i>
                                <h4>fixed game</h4>
                            </div></a>
                            <a href="/basketball"><div class="option odd3">
                                <i class="bi bi-3-square"></i>
                                <h4>basketball</h4>
                            </div></a>
                            <a href="/weekend"><div class="option odd3">
                                <i class="bi bi-3-square"></i>
                                <h4>weekend games</h4>
                            </div></a>
                            <form class="logs" method="POST" action="/logout">
                                <button type="submit" class="logout">logout</button>
                            </form>
                        </div> 
                    </ul>
                </div>
            </div>
                    <div class="second">
                        <div class="card card-1">
                            <div class="bet">
                                <h3>Upload Bet Odds</h3>
                                <p>post picture of bet odds</p>
                            </div>
                            <div class="post_form">
                                <div class="oddtype" style="display:flex ; justify-content:space-between; margin-bottom: 20px;">
                                    <label for="selectOddType">odd type</label>
                                <select  id="selectOddType">
                                    <option >fiveodds</option>
                                    <option >straightdraw</option>
                                    <option >fixedgame</option>
                                    <option >basketball</option>
                                    <option >weekendgames</option>
                                </select>
                                </div>
                                <form class="upload_form" method="POST" action="" enctype="multipart/form-data" >    
                                        <input type="file" id="file" name="file" multiple>        
                                <div class="login_btn">
                                    <button class="home_btn" type="submit">upload</button>
                                </div>
                                </form>  
                            </div>    
                        </div>
                    </div> 
                   
                  
            </div>
        </div>
	</div>

    <script src="/app.js"></script>
</body>
</html>