<%- include('partials/head') %> 
<body class="dontscroll">
    <header>
        <nav></nav>
    </header>
    <div class="sign_in">
        <div class="sporty_header">
            <h2>Welcome,</h2>
            <h4>Enter username and pass to login</h3>
        </div>
        <div class=>
            <form class="sporty_input" method="POST" action="/login">
                <label for="username">username/e-mail</label>
            <input id="username" type="text" name="username" required="required" >
            <p class="invalid user"></p>
            <label for="pass">Pass</label>
            <input id="pass" type="password" name="pass" required="required" >
            <p class="invalid user"></p>
            <i class="bi bi-eye-fill pass"></i>
            <div class="login_btn">
                <button type="submit">Login</button>
            </div>
            </form>          
        </div>
      

        <!-- <div class="subscribe">
            <p>if you haven't subscribed</p>
            <button><a href="/subscribe">click here</a> </button>
        </div> -->

       

    </div>
    <footer class="foot">
        <p class="msg">احصل على التنبؤ الصحيح هنا</p>
    </footer>
    <script src="/app.js"></script>
</body>
</html>