
    .pay {
        width: 45%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 2px 10px grey;
    }
    .pay h3, .pay h4 {
        font-size: 1.5em;
        margin-bottom: 10px;
        letter-spacing: 3px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .pay form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pay input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: #F5F5F5;
    }
    .pay button[type="submit"] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .pay i{
        text-align: left;
        width: 100%;
    padding-left: 7px
    }
